﻿@model MVCCoreDM1.Models.ViewModels.TenantVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenantDetailName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenantDetailName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
