﻿@{
    ViewBag.Title = "Dashboard Viewer";
}

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var filters = JSON.parse('@Html.Raw(System.Net.WebUtility.HtmlDecode(ViewBag.filters))');
            izendaInitDashboardViewer('@ViewBag.Id', filters);
        });
    </script>
}

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>
